<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="tertiary">
      Datas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text" [value]="getDate()" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="success" expand="block" (click)="setToday()">Hoje</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-col>
              <ion-button color="primary" expand="block"  (click)="addDays(-1)">-</ion-button>
            </ion-col>
            <ion-col>
              <ion-label>Dia</ion-label>
            </ion-col>
            <ion-col>
              <ion-button color="warning" expand="block" (click)="addDays(1)">+</ion-button>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col>
              <ion-button color="primary" expand="block" (click)="addDays(-7)">-</ion-button>
            </ion-col>
            <ion-col>
              <ion-label>Semana</ion-label>
            </ion-col>
            <ion-col>
              <ion-button color="warning" expand="block" (click)="addDays(7)">+</ion-button>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col>
              <ion-button color="primary" expand="block" (click)="addDays(-14)">-</ion-button>
            </ion-col>
            <ion-col>
              <ion-label>Quinzena</ion-label>
            </ion-col>
            <ion-col>
              <ion-button color="warning" expand="block"  (click)="addDays(14)">+</ion-button>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-col>
              <ion-button color="primary" expand="block" (click)="addDays(-30)">-</ion-button>
            </ion-col>
            <ion-col>
              <ion-label>Mês</ion-label>
            </ion-col>
            <ion-col>
              <ion-button color="warning" expand="block" (click)="addDays(30)">+</ion-button>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
