<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="success">
      Equação de 2º grau
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>(Ax^2+Bx+C=0).<br>Digite os valores correspondentes: </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-list [formGroup]="form">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">A:</ion-label>
            <ion-input type="number" formControlName="valA" [(ngModel)]="valA"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">B:</ion-label>
            <ion-input type="number" formControlName="valB" [(ngModel)]="valB"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">C:</ion-label>
            <ion-input type="number" formControlName="valC" [(ngModel)]="valC"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="danger" expand="block" [disabled]="form.invalid" (click)="setValues()">Calcular</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text" disabled [value]="getAnswer" placeholder="Resultado"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
